<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <img class="logo1" src="../assets/images/medline-logo-105.png" />
      <img class="logo2" src="../assets/images/medline-tagline.png" />
    </div>
  </div>
</header>

<div class="nav-scroller">
  <nav class="nav navbar">
    <a class="text-muted" href="#">Menu One</a>
    <a class="text-muted" href="#">Another</a>
    <a class="text-muted" href="#">Dropdown</a>
  </nav>
</div>