<div class="container">

  <app-header></app-header>

  <div class="col-master-section">
    <h6>Column Master</h6>

    <button type="button" class="btn btn-primary" (click)="openModal(template)">
      <span class="sprite addIcon"></span> Add Column</button>
    &nbsp;
    <button type="button" class="btn btn-danger" [disabled]="!selectedIds.length" (click)="deleteColumn()">
      <span class="sprite deleteIcon"></span> Delete Column
    </button>

    <div class="card">
      <div class="card-header">Column Master</div>
      <div class="card-body">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th><input type="checkbox" class="checkAll" name="selectAll" (click)="selectAll($event)"></th>
              <th>Column Name</th>
              <th>Column Type</th>
              <th>Editable</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let column of columnData">
              <td><input type="checkbox" (click)="selectColumnIds(column.id,$event)" value="{{column.id}}"
                  class="chkbx"></td>
              <td>{{column.columnName | uppercase}}</td>
              <td>{{column.columnType | titlecase}}</td>
              <td>{{column.editable | titlecase}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <h6>Result Datagrid</h6>
    <div class="card">
      <div class="card-header">Result Datagrid</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let column of columnData">
                {{column.columnName | uppercase}}
              </th>
            </tr>
            <tr>
              <td *ngFor="let column of columnData">
                <input type="{{column.columnType}}" [disabled]="column.editable == 'no'">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h6 class="modal-title pull-left">Add Column</h6>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addColumn(fr)" #fr="ngForm">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Column Name</label>
          <div class="mx-sm-3 mb-2">
            <input type="text" class="form-control" name="columnName" placeholder="Enter Column Name" ngModel columnName
              #columnName="ngModel" required>
            <span class="errorMsg" *ngIf="!columnName.valid && columnName.touched">Enter column name</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Column Type</label>
          <div class="mx-sm-3 mb-2">
            <select ngModel class="form-control" name="columnType" columnType #columnType="ngModel" required>
              <option value="">Select Type</option>
              <option value="string">String</option>
              <option value="number">Number</option>
              <option value="date">Date</option>
              <option value="boolean">Boolean</option>
            </select>
            <span class="errorMsg" *ngIf="!columnType.valid && columnType.touched">Select column type</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Editable</label>
          <div class="mx-sm-3 mb-2">
            <select class="form-control" ngModel name="editable" editable #editable="ngModel" required>
              <option value="">Select Editable</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <span class="errorMsg" *ngIf="!editable.valid && editable.touched">Select editable option</span>
          </div>
        </div>

        <button type="submit" [disabled]="!fr.valid" class="btn btn-success">Submit</button>&nbsp;
        <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Cancel</button>

      </form>
    </div>
  </ng-template>

  <app-footer></app-footer>

  <router-outlet></router-outlet>